@import "../styles/theme.scss";
@import "../styles/viewports";

div.poolsPage {
  background-image: url('../assets/background_mountain.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: right;
  background-position-y: bottom;
  background-color: var(--background-main);

  min-height: 100vh;
  // background: var(--background-main);
  color: var(--text);
  font-size: 16px;
  padding-bottom: 40px;

  .content {
    // max-width: 900px;
    padding-inline-start: 60px;
    padding-inline-end: 60px;
    margin: 0 auto;
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include breakpoint(sm) {
      width: 100%;
    }
  }

  .footerDiv {
    max-width: 900px;
    margin: 0 auto;
    padding-top: 40px;
    width: 100%;
  }

  h3.title {
    font-family: $font-family-title;
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 30px;
    font-weight: $bold;
    color: var(--text-title);
  }
}

div.poolsList {
  text-align: center;
}